.note__tools {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    min-height: 400px;
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-color: #F7F7F7;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 -2px 6px rgb(0 0 0 / 24%);
    border-radius: 60px 0 0 60px;
    animation: 1s fade;
}

.note__tool {
    width: 30px;
    height: 30px;
    background-color: #F7F7F7;
    box-shadow: inset 0 0 1em #e5e2dd, 0 3px 6px rgb(0 0 0 / 6%), 0 -2px 6px rgb(0 0 0 / 14%);
    border-radius: 3px;
    text-align: center;
    transition: .24s ease-in-out;
}

.note__tool:active {
    background-color: #FFBB0260;
}

@media (pointer: fine) and (hover: hover) {
    .note__tool:hover {
        box-shadow: inset 0 0 1.5em #e5e2dd, 0 3px 6px rgb(0 0 0 / 16%), 0 -2px 6px rgb(0 0 0 / 24%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
          opacity: 1;
      }
}