.note {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.note__contentEditable {
    position: relative;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    flex-flow: column nowrap;
}

.contentTitle {
    font-size: 30px;
    line-height: 160%;
    outline: none;
    border: none;
}

.contentDatetime {
    position: absolute;
    top: 0;
    right: 0;
    color: #888888;
    font-weight: 400;
}

.contentParagraph {
    font-size: 15px;
    overflow: auto;
    resize: none;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.notFound {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    align-items: center;
    column-gap: 10px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: rgb(37, 37, 37, 0.4);
    user-select: none;
    animation: 1s fade;
}

.animatedCursor {
    width: 100px;
    height: 100px;
}

.notFoundTitle {
    font-size: 25px;
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
          opacity: 1;
      }
}