.overlay {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 70%);
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    background-color: #e1a600;
}

.slider {
    width: 100vw;
    overflow: visible;
}

.slider__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(.35,.44,.11,1.43);
    transform: translate3d(0px, 0px, 0px);
}

.onBoarding__wrap {
    flex: 1 0 100%;
}

.onBoarding {
    margin: 0 auto;
    z-index: 11;
    border-radius: 20px;
    width: 600px;
    height: 700px;
}

.image {
    margin: 0 auto 20px auto;
    width: 90%;
    height: 300px;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 30px;
    text-align: center;
    box-shadow:
            0 1px 1px rgb(255, 255, 255, 10%),
            0 2px 2px rgb(255, 255, 255, 10%),
            0 4px 4px rgb(255, 255, 255, 10%),
            0 8px 8px rgb(255, 255, 255, 10%),
            0 6px 16px rgb(255, 255, 255, 10%);
}

.title {
    font-size: 35px;
    font-weight: 600;
    color: #343434;
}

.description {
    font-weight: 400;
    font-size: 17px;
    color: #4f4f4f;
    max-width: 450px;
}
