.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.deleteNote {
    width: 30px;
    height: 30px;
    transition: color .24s ease-in-out;
}

@media (pointer: fine) and (hover: hover) {
    .fab:hover {
        opacity: .9;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    }

    .deleteNote:hover {
        color: #f52a37;
    }
}