.icon {
  flex: none;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.icon--small {
  width: 14px;
  height: 14px;
}

.icon--medium {
  width: 18px;
  height: 18px;
}

.icon--large {
  width: 32px;
  height: 32px;
}